.platformer-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 8px;

    &-params {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        width: 100%;
    }
}

.platformer-toggle {
    background-color: #ebebeb;
}

.platformer-controls .hover-pattern-select__empty,
.platformer-controls .hover-pattern-select .pattern-select-button:not(.button-select-selected) {
    background-color: #ebebeb;
}
