$yellow: #ffcd00;
$blue: darkblue;

.repeating-controls {

  background: black;
  display: flex;
  flex-direction: column;
  position: relative;

  .repeating-controls-grid {
    display: flex;
    flex-direction: column-reverse;

    .repeating-controls-grid-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .repeating-controls-grid-buttons-row {
        display: flex;

      }
    }
  }

  .bbuutoonn:focus {
    outline: 2px dotted #ffcd00;
  }

  .type-select {
    position: absolute;

  }

  .repeating-button {
    .bbuutoonn {
      background: black;
      color: white;

      &.button-select.button-select-selected {
        background: $blue;
      }
    }

    .shortcut-input.empty {
      background: radial-gradient(white -50%, transparent);
    }
  }

  .repeating-button .hotkey-key, .repeating-button-number .hotkey-key {
    background: white;
    color: black;
    min-width: 7px;
  }

  .bbuutoonn {
    background: black;
    color: white;
  }

  .shortcut-input.empty {
    background: radial-gradient(white -50%, transparent);
    color: $yellow;
  }

  .select-drop > .select-drop-items > .select-buttons-items {
    border: 1px solid $yellow;
  }


  .bbuutoonn.button-select.button-select-selected {
    background: $blue;
  }

  .button-number-value {

    display: flex;
    background: transparent;
    border-right: 1px solid white;
  }

  .button-number-cf-settings-handler {
    & > div {
      &:after {
        color: $yellow;
      }
    }
  }

  .button-number-cf-value-active {
    border: 1px solid $yellow;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.repeating-button-number.button-number-cf-settings--portal {
  .button-number-cf-settings-handler > div:after {
    color: $yellow;
  }
}

.button-number-cf-portal-host--repeating {
  .select-drop > .select-drop-items > .select-buttons-items {
    border: 1px solid $yellow;
  }

  .button-number-cf-settings-handler > div:after {
    color: $yellow;
  }

  .bbuutoonn {
    background: black;
    color: white;
  }

  .bbuutoonn.button-select.button-select-selected {
    background: $blue;
  }

  .select-drop-value {
    background: black;
    color: white;
  }
}
