.hidden-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0;
  min-width: 0;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.hidden-scroll--both {
  overflow-x: auto;
}
